@import "tailwindcss";
@plugin "@tailwindcss/typography";
@theme {
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
}

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  height: 0;
  color: #12121280;
  pointer-events: none;
}